
#logoflat {display:block; width:250px; }
.menu{
  display:flex;
}

 /* Dropdown Button */
.dropbutn {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 9px 33.5px;
    font-size: 20px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdwn {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdwn-content {
    display: none;
    position: absolute;
    background-color: #160b7b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdwn-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdwn-content a:hover {background-color: rgb(72, 87, 172);}
  
  /* Show the dropdown menu on hover */
  .dropdwn:hover .dropdwn-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdwn:hover .dropbutn {background-color: #000000;}

  h1{
    font-size: 60px;
    width:auto;
    margin:auto;
    padding: 10px;
    text-align: left;
    border-collapse:collapse;
    text-decoration: underline;
    margin-top: 25px;
  }

  table{
    width:auto;
    margin:left;
    font-size:24px;
    text-align: center;
    border:1px solid #000;
    border-collapse:collapse;
    background-color: lightgrey;
    width: 90%;
  }
  th{
    color: #FFF;
    padding: 5px;
    text-decoration: bold;
    border:1px solid black;
    background-color: #160b7b;
    
  }

  td{
    border:1px solid black;
  }
  
  tr:nth-child(even) {background: #CCC}
  tr:nth-child(odd) {background: #FFF}

  body {
    background-image: url("https://cloudfront-us-east-1.images.arcpublishing.com/pmn/7O6QK6ETN5GATAW6MU7D6FY4FI.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  }